$primary-color: rgb(58, 110, 189);
$secondary-color: rgb(100, 100, 100);
$shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
$border-radius: 5px;
$show-bg-img: true;
$bg-img: url(/img/banner_img.jpg);
$color-3: #efefef;
