@import "config";
@import "form";

* {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

// Body Styling
body {
  .section-header {
    color: $primary-color;
    text-align: center;
    margin: 20px 0px;
    padding-top: 70px;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .section-items {
    margin: 0px !important;
    justify-content: space-evenly;
  }
}

// Banner Styling
.banner {
  background: url(/img/banner_img.jpg) $primary-color;
  background-size: cover;
  background-blend-mode: multiply;
  max-height: 1000px;
  color: #fff;
  padding: 3.5rem 1.5rem;
  p {
    text-align: justify;
  }
  // .logo {
  //   padding-bottom: 10px;
  //   text-align: right;
  //   .italics {
  //     font-style: italic;
  //     font-weight: lighter;
  //     font-size: 0.5rem;
  //   }
  //   img {
  //     max-width: 150px;
  //   }
  // }
  .hero {
    justify-content: space-evenly;
    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
    .hero-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    button {
      max-width: 10rem;
      max-height: 2.5rem;
      border-radius: $border-radius;
      background-color: #fff;
      color: $primary-color;
    }
  }
}

// Nav Styling
.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: $shadow;
  padding: 0;
  z-index: 2;
  font-weight: bold;
  ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    button {
      max-width: 10rem;
      max-height: 2.5rem;
      border-radius: $border-radius;
      background-color: $primary-color;
      color: #fff;
    }
    li {
      padding-top: 0.7rem;
      list-style: none;
      width: fit-content;
    }
  }
}

// Key Features Styling
#features {
  .section-items {
    .key-feature {
      margin: 20px;
      text-align: center;
      background-color: #fff;
      border-radius: $border-radius;
      box-shadow: $shadow;
      padding: 20px 0px;
      img {
        width: 5rem;
        height: auto;
        margin-bottom: 20px;
      }
      p {
        padding: 0px 20px;
        font-weight: bold;
      }
    }
  }
}

// Tools Styling
#tools {
  .tools {
    margin: 20px;
    flex-direction: column;
    text-align: center;
    img {
      width: 200px;
      height: auto;
    }
  }
}

// Course Description Styling
#course-description,
#faqs {
  padding: 2rem;
  .section-items {
    padding: 20px;
    .accordion {
      background-color: #fff;
      color: $primary-color;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      border-bottom: 1px solid $secondary-color;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    .active,
    .accordion:hover {
      background-color: #ccc;
    }

    .accordion:after {
      content: "\002B";
      color: $secondary-color;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  }
}

// Our Team Styling
#our-team {
  .section-items {
    .team-profile {
      margin: 20px;
      text-align: center;
      background-color: #fff;
      border-radius: $border-radius;
      box-shadow: $shadow;
      padding: 20px 0px;
      min-height: 250px;
      .team-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
      .team-name {
        font-weight: bold;
      }
    }
  }
}

// Learning Paths Styling
#learning-paths {
  .section-items {
    .path-container {
      margin: 20px;
      text-align: center;
      background-color: #fff;
      border-radius: $border-radius;
      box-shadow: $shadow;
      padding: 20px 0px;
      min-height: 250px;
    }
  }
}

// Form Styling
#contact-us {
  .contact-form {
    .submit-btn {
      width: 10rem;
      height: 2.5rem;
      border-radius: $border-radius;
      border: none;
      background-color: $primary-color;
      color: #fff;
      margin-bottom: 20px;
      box-shadow: $shadow;
    }
    .form-content {
      margin: 20px;
      border: none;
      border-bottom: $primary-color 1px solid;
      max-width: 1275px;
      padding: 0.6rem;
      color: $primary-color;
      font-weight: 500;
      ::placeholder {
        color: $secondary-color;
      }
    }
  }
}

footer {
  background-color: $primary-color;
  min-height: 10vh;
  color: #fff;
  padding: 20px;

  ul {
    display: flex;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
    margin: 10px 5px;
  }

  a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  .footer-logo {
    img {
      width: 150px;
      height: auto;
    }
  }
}

// Alert Styling
.custom-social-proof {
  position: fixed;
  width: 400px;
  padding: 10px;
  bottom: 20px;
  left: 20px;
  z-index: 9999999999999 !important;
  font-family: "Open Sans", sans-serif;
  display: none;

  .custom-notification {
    width: 100%;
    border: 0;
    text-align: left;
    z-index: 99999;
    box-sizing: border-box;
    font-weight: 200;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px hsla(0, 4%, 4%, 0.2);
    background-color: #fff;
    position: relative;
    cursor: pointer;
  }

  .custom-notification-container {
    display: flex !important;
    align-items: center;
    // height: 90px;
  }

  .custom-notification-image-wrapper {
    img {
      height: 50%;
      overflow: hidden;
      width: 50%;
      border-radius: 6px 0 0 6px;
      object-fit: cover;
    }
  }
  .custom-notification-container-wrapper {
    margin: 0;
    height: 100%;
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 6px 6px 0;
    flex: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;

    .custom-notification-content {
      font-family: inherit !important;
      margin: 0 !important;
      padding: 0 !important;
      font-size: 14px;
      line-height: 16px;

      small {
        margin-top: 3px !important;
        display: block !important;
        font-size: 12px !important;
        opacity: 0.8;
      }
    }
  }
}

.custom-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 12px;
  width: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: rotate(45deg);
  opacity: 0;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: gray;
    position: absolute;
    left: 0;
    top: 5px;
  }

  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-color: gray;
    position: absolute;
    left: 5px;
    top: 0;
  }

  &:hover {
    .custom-close {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  * {
    padding-inline-start: unset;
  }

  h1 {
    font-size: 1.5rem !important;
  }
  p {
    font-size: 0.8rem;
  }

  footer {
    text-align: center !important;
    ul {
      padding-left: 30px;
    }
    .copyright {
      padding-left: 60px;
      padding-bottom: 30px;
    }
    .menu {
      display: block;
    }
  }
}
